@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);


#id {
	width: 550px;
	font-family: 'Roboto Slab', serif; 
}

nav {
	color: red;
	text-transform: uppercase;
	font-size: 1.1em;
	width: calc (100% - 550px);
	text-align: center;
}

#secondary {
	font-size: .8em;
}