@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);

nav {
	color: red;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif; 
	font-size: 1.1em;
	width: calc(100% - 20px)
}