@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#main {
	color: #000;
	width: 480px;
	border: 1 0;
	border-color: #D5B2D8;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
#header{
	order: 1;
	font-size: 22x;
}

#navigation {
	font-size: 14px;
	position: fixed;
	order: 2;
}
#content {
	order: 3;
	font-size: 12px;
}
#footer{
	order: 4;
	font-size: 11px;
	color: deep lavender;
	background-color: #3D3C3A;
}
