@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#styling {
	font-size: 14px;
	width: 500px;
	margin: 0 auto;
	background-color: #ec3b83;
}

#styling #heading {
	font-family: 'Rock Salt', cursive;
	font-size: 14px;
	margin 0 auto;
}

table{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	color: #B2C4BE;
	text-align: center;
}