#large {
    width: 750px;
    height: 500px;
    margin: 50px 0 auto;
    border: 1px solid #084F3D;

    display: inline-block;
}

.one{
 width: 100px;
 height: 100px;
 margin: 20px;
 border: 2px dashed #e25e75;
 display: inline-block;;

margin: 0 auto;
}

.two {
width: 100px;
height: 100px;
margin: 20px;
border: 2px dashed #8ae32b;
display: inline-block;

margin: 0 auto;
}

.three {
width: 100px;
height: 100px;
margin: 20px;
border: 2px dashed #0000ff;
display: inline-block;

margin: 0 auto;
}
