@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

#main{
    color: #607B8B;
    font-family: 'Cutive Mono', ;
    width: 600px;
    text-align: center;
    border: 2px dotted #607B8B;
    margin: 0 auto;
}
