@import url(https://fonts.googleapis.com/css?family=Inconsolata);

#main{
    color: #5c5656;
    font-family: 'Inconsolata', ;
    width: 600px;
    text-align: center;
    border: 2px dotted #607B8B;
    margin: 0 auto;
}
